@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

.product-card {
    border: 1px solid black;
    margin-bottom: 15px;
    margin: 5px 5px 5px 5px;
    padding-bottom: 10px;
}

.img-card {
    max-width: 350px;
}

.product-data {
    font-size: 0.7em;
    font-weight: 200;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.size-wrapper {
    display: flex;
    justify-content: center;
}

#no-selection {
    font-size: 1.2em;
    text-align: center;
}

h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
    text-align: center;
}

.filters {
    text-align: center;
}

.filter-option {
    color: black;
}

label {
    font-family: 'Roboto';
    font-size: 0.9em;
    font-weight: 500;
    margin-right: 10px;
    margin-left: 10px;
}

.btn {
    margin-top: 5px;
    font-size: 1em;
    height: 25px;
    width: 180px;
}

@media (max-width: 480px) {

    .products-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .product-card {
        max-width: 170px;
    }

    .img-card {
        max-width: 170px;
    }

    #no-selection {
        font-size: 1em;
    }

    h3 {
        font-size: 1.1em;
    }
    
    label {
        font-family: 'Roboto';
        font-size: 0.8em;
        font-weight: 500;
        margin-right: 10px;
        margin-left: 10px;
    }

    .btn {
        margin-top: 5px;
        font-size: 0.9em;
        height: 30px;
        width: 150px;
    }
}