.wishlist-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.wishlist-card {
    display: flex;
    flex-direction: row;
    margin:0 auto;
    border: 1px solid black;
    width: 400px;
    height: 120px;
    margin-bottom: 8px;
}

.wishlist-img-card {
    height: 120px;
}

.product-data {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
}

.btn-wrapper {
    position: relative;
}

.remove-icon {
    margin-top: 5px;
    font-size: 15px;
}

.remove-btn:hover {
    cursor: pointer;
}

@media (max-width: 480px) {

    .wishlist-card {
        width: 300px;
    }

    .product-data {
        font-size: 0.6em;
    }

}